#benefits {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin: 50px;
    h2 {
        margin-bottom: 100px;
        @media screen and (max-width: 1050px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 750px) {
            margin-bottom: 20px;
        }
    }
    .content-wrapper {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
        @media screen and (max-width: 750px) {
            flex-direction: column;
        }
        img {
            width: 50%;
            height: 100%;
            max-height: 400px;
            object-fit: contain;
            transform: rotate(-90deg);
            @media screen and (max-width: 750px) {
                width: 100%;
            }
        }
        .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            height: 400px;
            @media screen and (max-width: 750px) {
                width: 100%;
                margin: 10px 0;
            }
            .text-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: auto 0;
                @media screen and (max-width: 750px) {
                    width: 100%;
                    margin: 20px 0;
                }
            }
            h6 {
                font-weight: 400;
                font-size: var(--subtitleSize);
                border-bottom: 2px solid var(--accentColor);
                @media screen and (max-width: 850px) {
                    font-size: 20px;
                    width: 80%;
                }
                @media screen and (max-width: 450px) {
                    font-size: 16px;
                }
            }
            p {
                margin: 20px 0;
            }
        }
    }
}