// File Imports
@import 'header';
@import 'footer';
@import 'section1';
@import 'section2';
@import 'section3';
//
// Variables
:root {
    // colors
    --accentColor: #1f86c6;
    --paraColor: #cfcfcf;
    //
    // fonts sizes
    --titleSize: 3em;
    --subtitleSize: 24px;
    --paraSize: 20px;
}

//
// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background: #000000;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.button-link {
    background: var(--accentColor);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 24px;
    border: 1px solid var(--accentColor);
    &:hover {
        color: white;
        background: #000000;
        transition: 0.2s;
    }
}

p {
    font-size: var(--paraSize);
    color: var(--paraColor);
    margin: 10px 0;
    line-height: 1.5;
    @media screen and (max-width: 1150px) {
        font-size: 16px;
    }
}

h2 {
    font-size: 30px;
    margin-top: 30px;
    border-bottom: 2px solid var(--accentColor);
    width: 70%;
    @media screen and (max-width: 1150px) {
        font-size: 30px;
    }
    @media screen and (max-width: 950px) {
        width: 100%;
    }
    @media screen and (max-width: 750px) {
        font-size: 24px;
    }
}